<div>
    {{ text }}
</div>
<app-quote-text [text]="quoteText"></app-quote-text><br>
<app-quote-text [text]="quoteText"></app-quote-text><br>
<app-quote-text [text]="quoteText"></app-quote-text><br>
<app-quote-text [text]="quoteText"></app-quote-text><br>


<app-quote-text [text]="ContactsText"></app-quote-text><br>
<app-quote-text [text]="ContactsText"></app-quote-text><br>
<app-quote-text [text]="ContactsText"></app-quote-text><br>
<app-quote-text [text]="ContactsText"></app-quote-text><br>

<div>
    {{ text }}
</div>