<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="assets/flag.jpg">
  <img src="assets/logo.png">

</div>

<nav>
  <a routerLink="/about" routerLinkActive="active">About  </a>
  <a routerLink="/home" routerLinkActive="active">I    Home + Input</a>
  <a routerLink="/users" routerLinkActive="active">I   Users   </a>
  <a routerLink="/governers" routerLinkActive="active">I   Rulers  </a>
  <a routerLink="/contact" routerLinkActive="active">I    Contact</a>
</nav>
<router-outlet></router-outlet>
